<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695778282180-os4d7e4fad0vft4iq1d5kh68ksknlccp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695778282180-os4d7e4fad0vft4iq1d5kh68ksknlccp</string>
	<key>API_KEY</key>
	<string>AIzaSyDjImpCClMWuSBEMPuRD_QL55vRXVPP0GE</string>
	<key>GCM_SENDER_ID</key>
	<string>695778282180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hycharge.app</string>
	<key>PROJECT_ID</key>
	<string>hycharge-97c01</string>
	<key>STORAGE_BUCKET</key>
	<string>hycharge-97c01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695778282180:ios:ff943a2c13960cc4445791</string>
	<key>DATABASE_URL</key>
	<string>https://hycharge-97c01-default-rtdb.firebaseio.com</string>
</dict>
</plist>